.card-product {
  width: 332px;
  height: auto;
  margin: 1px solid black;
  padding: 5px;
}

.img-product {
  width:332px;
  height:340px;
}

.card-product a {
  text-decoration: none;
  color: inherit;
}

.description-product {
  width:300px;
  height:100px;
}

.description-product-p {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 5px 5px 5px;
  padding-bottom: 10px;
}

.buttonComprar-product {
  width:50%;
}