<mat-sidenav #sidenav mode="side" opened="true">
  <mat-toolbar color="secundary">
    <button mat-icon-button (click)="display('Roupas')">
      <span>Roupas</span>
    </button>
    <button mat-icon-button (click)="display('Bolsa')">
      <span>Bolsas</span>
    </button>
    <button mat-icon-button (click)="display('Sapatos')">
      <span>Sapatos</span>
    </button>
    <button mat-icon-button (click)="display('Acessorios')">
      <span>Acessórios</span>
    </button>
    <button mat-icon-button (click)="display('Praia')">
      <span>Moda Praia</span>
    </button>
    <button mat-icon-button (click)="display('Fitness')">
      <span>Fitness</span>
    </button>
    <button mat-icon-button (click)="display('Masculino')">
      <span>Masculino</span>
    </button>
    <button mat-icon-button (click)="display('Infantil')">
      <span>Infantil</span>
    </button>
  </mat-toolbar>
</mat-sidenav>