<mat-sidenav #sidenav mode="side" opened="true">
  <mat-toolbar color="secundary">
    <button mat-icon-button (click)="fetchProductsByGender('feminino')">
      <span>Feminino</span>
    </button>
    <button mat-icon-button (click)="fetchProductsByGender('masculino')">
      <span>Masculino</span>
    </button>
    <button mat-icon-button (click)="fetchProductsByGender('infantil')">
      <span>Infantil</span>
    </button>
    <button mat-icon-button (click)="fetchProductsByGender('acessorios')">
      <span>Acessórios</span>
    </button>
    <button mat-icon-button (click)="fetchProductsByGender('praia')">
      <span>Moda Praia</span>
    </button>
    <button mat-icon-button (click)="fetchProductsByGender('fitness')">
      <span>Fitness</span>
    </button>
  </mat-toolbar>
</mat-sidenav>