mat-sidenav {
  position: absolute;
  top: 64px;
  width: 100%;
}

mat-toolbar {
  padding: 10px;
  height: 40px;
  background-color: rgb(136, 127, 114);
}

button {
  background-color: transparent;
  border: none;
  flex: 1 1 auto;
}

.sidenav-nav div {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

li {
  margin: 15px;
}

a {
  text-decoration: none;
  color: black; 
}

.praia {
  width: 300px;
}

h3 {
  font-weight: bold;
}