<section>
  <div class="cart-container">
    <div class="card-container-1">
      <h1>Minha Sacola</h1>
      <div *ngIf="cartItems.length > 0; else emptyCart">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Produto</th>
              <th>Quantidade</th>
              <th>Preço unitário</th>
              <th>Preço Total</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cartItems; let i = index">
              <td><img [src]="item.product.imageUrl" alt="{{ item.product.name }}" class="img-cart"></td>
              <td>{{ item.product.name }}</td>
              <td>
                <button mat-icon-button (click)="adicionarItem(item)">
                  <mat-icon>add</mat-icon>
                </button>
                {{ item.quantity }}
                <button mat-icon-button (click)="decreaseItem(item)">
                  <mat-icon>remove</mat-icon>
                </button>
              </td>
              <td>{{ item.product.price | currency:'BRL':'symbol':'1.2-2' }}</td>
              <td>{{ item.product.price * item.quantity | currency:'BRL':'symbol':'1.2-2' }}</td>
              <td>
                <button mat-icon-button (click)="removerItem(item)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table> 
      </div>
    </div>
    <div class="card-container-2">
      <h1>Resumo do pedido</h1>
      <p>Subtotal: {{ calculateSubTotal() | currency }}</p>
      <p>Cupom | Desconto: {{ desconto | currency }}</p>
      <p>Entrega: {{ entrega | currency }}</p>
      <h2>Subtotal: {{ calculateTotal | currency }}</h2>
      <div class="card-container-2-button">
        <button mat-icon-button (click)="pagamento()">Finalizar a compra</button>
        <button mat-icon-button routerLink="/">Continuar comprando</button>
      </div>
    </div>
  </div>
  <ng-template #emptyCart>
    <p>O carrinho está vazio.</p>
  </ng-template>
</section>
