section {
  display: flex;
  flex-direction: row;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-evenly;
  align-items: baseline;
  padding-left: 30px;
}

.nav button {
  background-color: transparent;
  border: none;
}

.nav a {
  cursor: pointer;
}