.sectionNovidades {
  margin: 30px;
}

.card-product {
  width: 255.91px;
  height: 380px;
  margin: 1px solid black;
}

.img-product {
  width: 255.91px;
  height: 242.27px;
}

.card-product a {
  text-decoration: none;
  color: inherit;
}

.description-product {
  width:90%;
  height:100px;
}

.description-product-p {
  display: flex;
  justify-content: baseline;
  flex-wrap: wrap;
  width: 230,31;
  height: 40px;
}

.description-product-price {
  display: flex;
  justify-content: center;
  width: 230,31;
  height: 20px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 5px 5px 5px;
  padding-bottom: 10px;
}

.buttonComprar-product {
  width:50%;
  background:rgb(215, 25, 32);
  color: white
}

.buttonRemover-product {
  width:50%;
  background:black;
  color: white
}

button {
  background-color: transparent;
  border: none;
  color: palevioletred;
}